version: 2.1
orbs:
  build-and-test:
    jobs:
      build-and-test:
        parameters:
          script:
            description: the script to execute
            type: string
          resource_class:
            description: the resource class
            type: string
            default: 'medium'
          skip_multi_arch_env_vars:
            description: if set don't set multi-arch env vars
            type: string
            default: ''
        machine:
          image: ubuntu-2004:202101-01
        resource_class: <<parameters.resource_class>>
        working_directory: ~/eventuate-messaging-kafka
        steps:
          - checkout
          - restore_cache:
              keys:
                - eventuate-messaging-kafka-{{ checksum "gradle.properties" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
                - eventuate-messaging-kafka-
          - run:
              command: |
                ./gradlew testClasses aggregateJavaDocs
          - save_cache:
              paths:
                - ~/.gradle
              key: eventuate-messaging-kafka-{{ checksum "gradle.properties" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
          - run:
              command: |
                if [ -z "<<parameters.skip_multi_arch_env_vars>>" ] ; then
                  . set-multi-arch-image-env-vars.sh
                fi
                <<parameters.script>>
          - run:
              name: Save test results
              command: ./.circleci/save-containers-and-tests.sh
              when: always
          - store_test_results:
              path: ~/junit
          - store_artifacts:
              path: ~/junit
          - store_artifacts:
              path: ~/container-logs
jobs:
  build-multi-arch-images:
    docker:
      - image: cimg/base:stable
    working_directory: ~/eventuate-common
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.11
      - run:
          name: docker buildx build
          command: |
            . set-multi-arch-image-env-vars.sh
            docker context create tls-env
            docker buildx create tls-env --use

            # failed to solve: process "/dev/.buildkit_qemu_emulator
            # https://github.com/docker/buildx/issues/493#issuecomment-754834977
            # https://github.com/tonistiigi/binfmt#installing-emulators

            docker run --privileged --rm tonistiigi/binfmt --install arm64,arm

            ./build-multi-arch-images.sh
  deploy-multi-arch:
    docker:
      - image: cimg/base:stable
    working_directory: ~/eventuate-common
    steps:
      - checkout
      - run:
          command: |
            . set-multi-arch-image-env-vars.sh
            ./deploy-multi-arch.sh
workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - build-and-test/build-and-test:
          name: build-and-test-arm-intel
          skip_multi_arch_env_vars: "true"
          script: |
            docker context create tls-env
            docker buildx create tls-env --use
            docker run --privileged --rm tonistiigi/binfmt --install arm64,arm
            export DOCKER_HOST_NAME=$(hostname)
            ./build-and-test-all-locally.sh
      - build-and-test/build-and-test:
          name: build-and-test-mysql8-arm
          resource_class: arm.medium
          skip_multi_arch_env_vars: "true"
          script: |
            docker context create tls-env
            docker buildx create tls-env --use
            docker run --privileged --rm tonistiigi/binfmt --install amd64
            hostname -I
            export DOCKER_HOST_NAME=$(hostname -I | sed -e 's/ .*//g')
            echo $DOCKER_HOST_NAME
            ./build-and-test-all-locally.sh
      - build-multi-arch-images:
          context:
            - publish
          requires:
            - build-and-test-arm-intel
            - build-and-test-mysql8-arm
      - build-and-test/build-and-test:
          name: test-multi-arch-intel
          script: ./build-and-test-all.sh
          requires:
            - build-multi-arch-images
      - build-and-test/build-and-test:
          name: test-multi-arch-arm
          script: ./build-and-test-all.sh
          resource_class: arm.medium
          requires:
            - build-multi-arch-images
      - deploy-multi-arch:
          context:
            - publish
          requires:
            - test-multi-arch-intel
            - test-multi-arch-arm
